<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HappyBin.AutoUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
    </configSections>
    <applicationSettings>
        <HappyBin.AutoUpdater.Properties.Settings>
            <setting name="UpdateConfigUri" serializeAs="String">
                <value>http://localhost:57575/updates/updateconfig.xml</value>
            </setting>
            <setting name="RuntimeExe" serializeAs="String">
                <value>foopad.exe</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>patches</value>
            </setting>
            <setting name="WaitForExitMillseconds" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="StartRuntimeExeAfterInstall" serializeAs="String">
                <value>True</value>
            </setting>
        </HappyBin.AutoUpdater.Properties.Settings>
    </applicationSettings>
  <log4net>
    <appender name="HappyBinLog" type="log4net.Appender.RollingFileAppender">
      <file value="HappyBin.AutoUpdater.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level:%date:%m:[%exception]%newline[%stacktrace][%stacktracedetail]%newline"/>
      </layout>
    </appender>
    <root>
      <level value="info"/>
      <appender-ref ref="HappyBinLog"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
